<?xml version='1.0' encoding='utf-8'?>
<widget id="com.retro.calculator" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RetroCalculator</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <platform name="android">
        <preference name="SplashScreen" value="screen" />
        <preference name="SplashScreenDelay" value="3000" />
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="FadeSplashScreen" value="true" />
        <preference name="FadeSplashScreenDuration" value="300" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/mipmap-xxxhdpi/ic_launcher.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#0a0a1a" />
        <preference name="StatusBarBackgroundColor" value="#0a0a1a" />
        <preference name="StatusBarStyle" value="lightcontent" />
        
        <icon background="res/mipmap-hdpi/ic_launcher_adaptive_back.png" density="hdpi" foreground="res/mipmap-hdpi/ic_launcher_adaptive_fore.png" />
        <icon background="res/mipmap-mdpi/ic_launcher_adaptive_back.png" density="mdpi" foreground="res/mipmap-mdpi/ic_launcher_adaptive_fore.png" />
        <icon background="res/mipmap-xhdpi/ic_launcher_adaptive_back.png" density="xhdpi" foreground="res/mipmap-xhdpi/ic_launcher_adaptive_fore.png" />
        <icon background="res/mipmap-xxhdpi/ic_launcher_adaptive_back.png" density="xxhdpi" foreground="res/mipmap-xxhdpi/ic_launcher_adaptive_fore.png" />
        <icon background="res/mipmap-xxxhdpi/ic_launcher_adaptive_back.png" density="xxxhdpi" foreground="res/mipmap-xxxhdpi/ic_launcher_adaptive_fore.png" />
        
        <icon density="hdpi" src="res/mipmap-hdpi/ic_launcher.png" />
        <icon density="mdpi" src="res/mipmap-mdpi/ic_launcher.png" />
        <icon density="xhdpi" src="res/mipmap-xhdpi/ic_launcher.png" />
        <icon density="xxhdpi" src="res/mipmap-xxhdpi/ic_launcher.png" />
        <icon density="xxxhdpi" src="res/mipmap-xxxhdpi/ic_launcher.png" />
    </platform>
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xFF0a0a1a" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
